annotated-types==0.8.0
anyio==4.15.1
click==8.5.0
fastapi==0.115.12
h11==0.16.0
idna==3.20
pydantic==2.13.5
pydantic_core==2.46.5
pyswisseph==2.10.3.2
starlette==0.46.2
typing-inspection==0.4.4
typing_extensions==4.16.0
tzdata==2025.2
uvicorn==0.34.2
